@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}
li {
  align-self: center;
}
.trace {
  border: 1px solid red;
}

b {
  font-weight: 700;
  color: #fc1d32;
}
@keyframes popup {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.card,
.works-card {
  transition: all 0.5s ease-in-out;
}
.card:hover {
  scale: 1.1;
}

.works-card:hover {
  scale: 1.02;
}
input {
  all: unset;
  border-bottom: #fc1d3379 0.8rem solid;
}
textarea {
  all: unset;}
.form{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.196);
}